{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %} <link rel="stylesheet" type='text/css' href="{% static 'css/style.min.css' %}"/> {% endcomment %}
    <title>QOL</title>
  </head>
  <body>
    <div class="text-center m-5">
      <div class="p-3 bg-green-50 inline-block rounded">
        <div class="text-base ">QOL</div>
      </div>
    </div>
  </body>
</html>
